## GROUP BY

In [2]:
import pandas as pd

In [8]:
data={"Team":['Riders',"Riders","Devils","Devils","Kings","kings","Kings","Kings","Riders","Royals","Royals","Riders"],
           "Rank":[1,2,2,3,3,4,1,1,2,4,1,2],
            "Year":[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         "Points":[876,789,863,673,741,812,756,788,694,701,804,690]}

In [9]:
data

{'Team': ['Riders',
  'Riders',
  'Devils',
  'Devils',
  'Kings',
  'kings',
  'Kings',
  'Kings',
  'Riders',
  'Royals',
  'Royals',
  'Riders'],
 'Rank': [1, 2, 2, 3, 3, 4, 1, 1, 2, 4, 1, 2],
 'Year': [2014,
  2015,
  2014,
  2015,
  2014,
  2015,
  2016,
  2017,
  2016,
  2014,
  2015,
  2017],
 'Points': [876, 789, 863, 673, 741, 812, 756, 788, 694, 701, 804, 690]}

In [13]:
ipl_data={"Team":['Riders',"Riders","Devils","Devils","Kings","kings","Kings","Kings","Riders","Royals","Royals","Riders"],
           "Rank":[1,2,2,3,3,4,1,1,2,4,1,2],
            "Year":[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         "Points":[876,789,863,673,741,812,756,788,694,701,804,690]}

In [14]:
pd.DataFrame(ipl_data)

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [16]:
df=pd.DataFrame(ipl_data)

In [17]:
dd=df.groupby(["Team"])

In [18]:
print(dd.groups)

{'Devils': [2, 3], 'Kings': [4, 6, 7], 'Riders': [0, 1, 8, 11], 'Royals': [9, 10], 'kings': [5]}

In [19]:
dd=df.groupby(["Year"])

In [20]:
print(dd.groups)

{2014: [0, 2, 4, 9], 2015: [1, 3, 5, 10], 2016: [6, 8], 2017: [7, 11]}

In [21]:
dd=df.groupby(["Team","Year"])

In [23]:
print(dd.groups)

{('Devils', 2014): [2], ('Devils', 2015): [3], ('Kings', 2014): [4], ('Kings', 2016): [6], ('Kings', 2017): [7], ('Riders', 2014): [0], ('Riders', 2015): [1], ('Riders', 2016): [8], ('Riders', 2017): [11], ('Royals', 2014): [9], ('Royals', 2015): [10], ('kings', 2015): [5]}

In [24]:
grouped=df.groupby(["Year"])

In [25]:
grouped.groups

{2014: [0, 2, 4, 9], 2015: [1, 3, 5, 10], 2016: [6, 8], 2017: [7, 11]}

In [26]:
for name,group in grouped:
    print(name)
    print(group)

2014
     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701
2015
      Team  Rank  Year  Points
1   Riders     2  2015     789
3   Devils     3  2015     673
5    kings     4  2015     812
10  Royals     1  2015     804
2016
     Team  Rank  Year  Points
6   Kings     1  2016     756
8  Riders     2  2016     694
2017
      Team  Rank  Year  Points
7    Kings     1  2017     788
11  Riders     2  2017     690

C:\Users\yoges\AppData\Local\Temp\ipykernel_11164\4221050826.py:1: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for name,group in grouped:

In [27]:
grouped=df.groupby(["Year"])

In [28]:
grouped.groups

{2014: [0, 2, 4, 9], 2015: [1, 3, 5, 10], 2016: [6, 8], 2017: [7, 11]}

In [29]:
print (grouped.get_group(2015))

      Team  Rank  Year  Points
1   Riders     2  2015     789
3   Devils     3  2015     673
5    kings     4  2015     812
10  Royals     1  2015     804

In [31]:
grouped=df.groupby(["Year"])

In [32]:
import numpy as np

In [33]:
print(grouped['Points'].agg(np.mean))

Year
2014    795.25
2015    769.50
2016    725.00
2017    739.00
Name: Points, dtype: float64

## FUNCTIONS

In [34]:
def fun():
    print("inside function")

In [35]:
fun()

inside function

In [36]:
def greet():
    print("Hello")
    print("Good Evening")

In [37]:
greet()

Hello
Good Evening

In [39]:
def add_sub(x,y):
    add=x+y
    sub=x-y
    print(add)
    print(sub)

In [40]:
add_sub(12,13)

25
-1

## numpy its Numirical Python

In [41]:
import numpy as np

In [ ]:
#pip install numpy

In [42]:
print(np.__version__)

1.24.3

In [43]:
[1,2,3,3,4]

[1, 2, 3, 3, 4]

In [44]:
arr=np.array([1,2,3,3,4])

In [45]:
arr

array([1, 2, 3, 3, 4])

In [46]:
print(type(arr))

<class 'numpy.ndarray'>

In [48]:
arr1=np.array([1,2,3,3,4])
arr2=np.array([[1,23,34],[3,4,5]])
arr3=np.array([[[1,2,3],[4,5,6],[7,8,9]]])

In [49]:
arr1

array([1, 2, 3, 3, 4])

In [50]:
arr2

array([[ 1, 23, 34],
       [ 3,  4,  5]])

In [51]:
arr3

array([[[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]])

In [52]:
print(arr3.ndim)

3

## ndim=Dimaimentioned arr

In [53]:
arr=np.array([1,2,3,],ndmin=4)

In [54]:
arr

array([[[[1, 2, 3]]]])

In [55]:
arr1=np.array([1,2,3,3,4])

In [56]:
arr1[2]

3

In [57]:
arr1[4]

4

In [58]:
arr1[2]+arr1[4]

7

In [59]:
arr2=np.array([[1,23,34],[3,4,5]])

In [60]:
arr2[0]

array([ 1, 23, 34])

In [61]:
arr2[1]

array([3, 4, 5])

In [62]:
arr2[1,1]

4

In [65]:
arr3=np.array([[[1,2,3],[4,5,6],[7,8,9]]])

In [66]:
arr3

array([[[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]])

In [67]:
arr3[0]

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [68]:
arr3=np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])

In [69]:
arr3[0]

array([[1, 2, 3],
       [4, 5, 6]])

In [70]:
arr3[1]

array([[ 7,  8,  9],
       [10, 11, 12]])

# Wants to specified only need to get only 9 number as output

In [74]:
arr3[1,0,2]

9

In [75]:
arr3

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

## Only need  11 number as output

In [76]:
arr3[1,1,1]

11

In [77]:
arr1=np.array([1,2,3,3,4,5,6])

In [78]:
arr1[1:]

array([2, 3, 3, 4, 5, 6])

In [79]:
arr1[:3]

array([1, 2, 3])

In [80]:
arr1[1:6:2]

array([2, 3, 5])

In [81]:
arr2=np.array([[1,23,34,3,54],[3,4,5,22,14]])

In [82]:
arr2[1,1:4]

array([ 4,  5, 22])

In [85]:
arr2=np.array([[1,23,34,3,54],[3,4,5,22,14]])
arr2.shape

(2, 5)

In [86]:
arr2=np.array([1,23,34,3,54,16])
arr2.reshape(2,3)

array([[ 1, 23, 34],
       [ 3, 54, 16]])

In [87]:
arr2=np.array([1,23,34,3,54,16])
arr2.reshape(3,2)

array([[ 1, 23],
       [34,  3],
       [54, 16]])

In [88]:
arr1=np.array([1,2,3])
arr2=np.array([4,5,6])

In [89]:
np.concatenate((arr1,arr2))

array([1, 2, 3, 4, 5, 6])

In [91]:
arr1=np.array([[1,2,3],[4,5,6]])
arr2=np.array([[4,5,6],[7,8,9]])

In [92]:
np.concatenate((arr1,arr2))

array([[1, 2, 3],
       [4, 5, 6],
       [4, 5, 6],
       [7, 8, 9]])

In [93]:
np.concatenate((arr1,arr2),axis=1)

array([[1, 2, 3, 4, 5, 6],
       [4, 5, 6, 7, 8, 9]])

In [94]:
np.concatenate((arr1,arr2),axis=0)

array([[1, 2, 3],
       [4, 5, 6],
       [4, 5, 6],
       [7, 8, 9]])

## Stacking method

In [95]:
arr1=np.array([[1,2,3],[4,5,6]])
arr2=np.array([[4,5,6],[7,8,9]])
np.vstack((arr1,arr2))

array([[1, 2, 3],
       [4, 5, 6],
       [4, 5, 6],
       [7, 8, 9]])

In [96]:
arr1=np.array([[1,2,3],[4,5,6]])
arr2=np.array([[4,5,6],[7,8,9]])
np.hstack((arr1,arr2))

array([[1, 2, 3, 4, 5, 6],
       [4, 5, 6, 7, 8, 9]])

# split

In [97]:
arr2=np.array([1,23,34,3,54,44,56,66])

In [98]:
np.array_split(arr2,2)

[array([ 1, 23, 34,  3]), array([54, 44, 56, 66])]

In [99]:
np.array_split(arr2,2)

[array([ 1, 23, 34,  3]), array([54, 44, 56, 66])]

# seach

In [100]:
arr2=np.array([1,23,34,3,54,44,56,66])
np.where(arr2==43)

(array([], dtype=int64),)

In [103]:
arr2=np.array([1,23,34,3,54,44,56,66])
np.where(arr2<=44)

(array([0, 1, 2, 3, 5], dtype=int64),)

In [104]:
from numpy import random
x=random.randint(100,size=6)
print(x)

[31 37 95 41  1 44]

In [107]:
num1=4
num2=6

In [108]:
np.lcm(num1,num2)

12

In [109]:
num1=443
num2=625

In [110]:
np.lcm(num1,num2)

276875

In [ ]:
sin pi/2

In [111]:
np.sin(np.pi/2)

1.0